<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body ng-app="demo">
    <% include components/navigation.ejs %>
    <div id="conteiner">
        <div ng-controller="text">
            <h3>La respuesta es del servidor 1: </h3>
            <hr>
            <p>OK</p>
        </div>
    </div>
</body>

</html>